name: Release workflow

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  release:
    name: Release on GitHub
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv
          coverage: none

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Run composer install
        run: composer install --no-dev

      - name: Run yarn install
        run: yarn install

      - name: Build project
        run: |
          cd /home/runner/work/formcreator/
          rm -r formcreator/.git* formcreator/tools formcreator/.yarnrc formcreator/README.md formcreator/composer.* formcreator/package.*
          tar -zcvf formcreator-${{ github.ref_name }}.tgz formcreator

      - name: Upload release
        uses: actions/upload-artifact@v4
        with:
          name: formcreator-${{ github.ref_name }}.tgz
          path: /home/runner/work/formcreator/formcreator-${{ github.ref_name }}.tgz
      
      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          files: /home/runner/work/formcreator/formcreator-${{ github.ref_name }}.tgz
          body: "New release is available"
          name: ${{ github.ref_name }}
          draft: true
          generate_release_notes: true

      - name: Create ITSM Ticket
        uses: itsmng/itsm-ng_create_ticket_action@master
        with:
          titre: "Release Formcreator"
          contenu: "version: ${{ github.ref_name }} "
          priority: 3
          entite_id: 15
          group_id: 22
          api_url: "https://support.itsm-ng.com/apirest.php"
          APP_TOKEN: ${{ secrets.APP_TOKEN }}
          USER_TOKEN: ${{ secrets.USER_TOKEN }}
